:root {
    --background: #fcece4;
    --foreground: #22b1eb;
    --foregroundDarker: #0692cd;
    --foregroundLighter: #42c5f8;
    --onBackground: #222323;
    --chartBorder: #555555;
    --moondays: #D5D5BF;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: var(--onBackground);
}

html {
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    background: var(--background);
}

h1 {
    text-align: center;
}

h6 {
    display: inline-block;
}

h6::before {
    content: '';
    background: var(--foreground);
    height: 10px;
    width: 10px;
    border-radius: 10px;
    display: inline-flex;
    margin: 0px 10px;
}

h6.instructed::before {
    background: var(--moondays);
}

h6.guided::before {
    background: var(--foregroundLighter);
}

#container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background:#222323;
        --onBackground: #D3D3D3;
    }
}