:root {
  --background: #e7d5c6;
  --foreground: #bf94e4;
  font-family: "Zen Maru Gothic", sans-serif;
}

html {
  background: var(--background);
}

h1 {
  text-align: center;
}

#container {
  padding: 0px 200px;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
