:root {
    --background:   #fcece4;
    --primary:   #22b1eb;
    --secondary:    #22ebc1;
    --tertiary:     #224deb;
    --onBackground: #222323;
    --chartBorder:  #555555;
    --moondays:     #D5D5BF;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: var(--onBackground);
}

html {
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    background: var(--background);
}

h1 {
    text-align: center;
}

h5 {
    display: inline-flex;
}

h5::before {
    content: '';
    background: var(--primary);
    height: 2em;
    width: 2em;
    border-radius: 2em;
    display: inline-flex;
    margin: 0 0.5em 0 4em;
}

h5.instructed::before {
    background: var(--secondary);
}

h5.guided::before {
    background: var(--tertiary);
}

.legend {
    margin-top: 2em;
}

#container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background:#222323;
        --onBackground: #D3D3D3;
    }
}