:root {
    --background: #E7D5C6;
    --foreground: #BF94E4;
    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    background: var(--background);
}

h1 {
    text-align: center;
}

#container {
    padding: 0px 200px;
}